section.main {
  padding: 2.5rem 0.625rem;
  height: calc(100vh - 5.813rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.main h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
section.main h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.btns-container button {
  margin: 1rem;
  padding: 1rem 1.8rem;
  color: #fff;
  background-color: var(--main-color);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

@media (max-width: 600px) {
  section.main h1 {
    font-size: 1.5rem;
    padding: 0 2rem ;
    white-space: nowrap;
  }
  section.main h2 {
    font-size: 0.8rem;
  }
  .btns-container button {
    margin: 0.5rem;
    padding: 0.8rem 1.2rem;
    color: #fff;
    background-color: var(--main-color);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
}
