:root {
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --primary-color: #22254b;
  --secoubdry-color: #373b69;
  --placholder-color: #7378c5;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
}
#container {
  margin: 2rem 3.5rem 0 3.5rem;
  padding: 1rem 1rem 0 1rem;
}
.head {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  font-size: 1.5rem;
  max-width: 1110px;
  margin: 0 auto ;
}
.search-box {
  color: #22254b;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  align-items: center;
}
#search {
  border: none;
  width: 16rem;
  background: rgb(236, 236, 236);
  border-radius: 0.5rem;
  height: 2rem;
  text-align: center;
}
.icon {
  margin-right: -1.7rem;
  z-index: 99;
}
#search:focus {
  outline: 0;
  background-color: rgb(185, 185, 185);
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5rem;
}
.movie {
  width: 200px;
  /* height: 20rem; */
  margin: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  border-radius: 3px;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: all 0.5s;
}
.movie:hover {
  border: 0.2rem solid rgb(240, 201, 31);
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0);
}

.movie i {
  background: #fff;
  border-radius: 50%;
  padding: 0.3rem;
  position: absolute;
  z-index: 5;
  font-size: 1rem;
  color: rgba(15, 11, 11, 0.527);
  top: 0.7rem;
  right: 0.9rem;
}
.movie i:hover {
  color: rgb(255, 196, 35);
}
.movie img {
  width: 100%;
  border-radius: 0.5rem;
  transition: transform 0.5s ease-out;
}
.movie img:hover {
  transform: scale(1.05);
}
.movie-info {
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: rgba(0, 0, 0, 1);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bpld;
}
.movie-info span.green {
  color: rgb(8, 228, 8);
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: crimson;
}
/* wish Page css  */

@media (max-width: 600px) {
  .head {
    font-size: 2rem;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  }
  #search {
    width: 10rem;
    text-align: left;
    padding-left: 2rem;
  }
}


.not-found{
  margin-top: 8rem ;
  font-size: 3rem ;
  padding : 2rem ;
  background-color: #00000081;
  border-radius: 10px ;
  font-weight: bold ;
  white-space: nowrap;
  /* display: none; */
}


@media (max-width: 600px) {
  .not-found{
    margin-top: 8rem ;
    font-size: 1.5rem ;
    padding : 1rem ;
  }
}